In [20]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [21]:
# csv to dataframe
df_buses_1=pd.read_csv("df_buses_1.csv")
df_buses_2=pd.read_csv("df_buses_2.csv")
df_buses_3=pd.read_csv("df_buses_3.csv")
df_buses_4=pd.read_csv("df_buses_4.csv")
df_buses_5=pd.read_csv("df_buses_R.csv")
df_buses_6=pd.read_csv("df_buses_SB.csv")
df_buses_7=pd.read_csv("df_buses_H.csv")
df_buses_8=pd.read_csv("df_buses_AS.csv")
df_buses_9=pd.read_csv("df_buses_9.csv")
df_buses_10=pd.read_csv("df_buses_10.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,
                    df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 97,Swift Deluxe Non AC Air Bus (2+2),16:02,00:50,08h 48m,INR 567,8 Seats available,3.0\n19,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
1,KSRTC (Kerala) - 171,Swift Deluxe Non AC Air Bus (2+2),16:16,01:20,09h 04m,INR 640,15 Seats available,3.3\n8,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
2,KSRTC (Kerala) - 553,Super Express Non AC Seater Air Bus (2+2),16:45,01:25,08h 40m,INR 640,3 Seats available,3.7\n11,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
3,KSRTC (Kerala) - 2056,Swift Deluxe Non AC Air Bus (2+2),20:01,04:26,08h 25m,INR 567,36 Seats available,3.6,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
4,KSRTC (Kerala) - 1585,Super Express Non AC Seater Air Bus (2+2),20:31,05:36,09h 05m,INR 640,20 Seats available,3.9\n53,https://www.redbus.in/bus-tickets/bangalore-to...,Bangalore to Kozhikode
...,...,...,...,...,...,...,...,...,...,...
2035,Greenline,Volvo A/C Seater (2+2),18:05,23:05,05h 00m,INR 524,35 Seats available,4.0\n34,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2036,Royal Cruiser,Scania Multi-Axle AC Semi Sleeper (2+2),19:30,00:15,04h 45m,523,47 Seats available,3.7\n62,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2037,Beauty Travels,NON A/C Seater / Sleeper (2+2),20:20,00:30,04h 10m,INR 380,36 Seats available,3.0,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2038,Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),18:30,00:30,06h 00m,INR 500,54 Seats available,,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)
2039,Maharani Travels,A/C Seater / Sleeper (2+1),21:05,02:00,04h 55m,760,24 Seats available,2.7,https://www.redbus.in/bus-tickets/kolkata-to-a...,Kolkata to Asansol (West Bengal)

# Data cleaning

In [22]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2040 entries, 0 to 2039
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2040 non-null   object
 1   Bus_type         2040 non-null   object
 2   Start_time       2040 non-null   object
 3   End_time         2040 non-null   object
 4   Total_duration   2040 non-null   object
 5   Price            2040 non-null   object
 6   Seats_Available  2040 non-null   object
 7   Ratings          2040 non-null   object
 8   Route_link       2040 non-null   object
 9   Route_name       2040 non-null   object
dtypes: object(10)
memory usage: 159.5+ KB

In [23]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0       567.0
1       640.0
2       640.0
3       567.0
4       640.0
        ...
2035    524.0
2036    523.0
2037    380.0
2038    500.0
2039    760.0
Name: Price, Length: 2040, dtype: float64

In [24]:
#convert Ratings to numeric
Final_df["Ratings"]=Final_df["Ratings"].str.replace("New","")
Final_df["Ratings"]=Final_df["Ratings"].str.strip()
Final_df["Ratings"]=Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0,inplace=True)

In [27]:
Final_df['Seats_Available'] = Final_df['Seats_Available'].str.replace(' Seats available', '')

In [28]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2040 entries, 0 to 2039
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         2040 non-null   object
 1   Bus_type         2040 non-null   object
 2   Start_time       2040 non-null   object
 3   End_time         2040 non-null   object
 4   Total_duration   2040 non-null   object
 5   Price            2040 non-null   float64
 6   Seats_Available  2040 non-null   object
 7   Ratings          2040 non-null   float64
 8   Route_link       2040 non-null   object
 9   Route_name       2040 non-null   object
dtypes: float64(2), object(8)
memory usage: 159.5+ KB

In [29]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [30]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [31]:
# change dataframe to csv
path=r"D:/Gowtham/Development/Data science - 162/Source code/Final_busdetails_df_edit.csv"
Final_df.to_csv(path,index=False)

# Create a mysql database

In [32]:
#sql connection
conn=mysql.connector.connect(host="localhost", user="root", password="root",database="red_bus_details")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [35]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details_edit(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [36]:
# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details_edit(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully